body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color: black;;
}

.display {
    padding: 5px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(172, 166, 166);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.num-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.num-buttons button {
    background-color: white;
}

.op-buttons {
    display: flex;
    flex-direction: column;
}

.op-buttons button {
    background-color: rgb(233, 179, 80);
}

.op-buttons .evaluate {
    background-color: rgb(61, 104, 75);
}

.op-buttons .clear {
    background-color: rgb(195, 195, 250);
}